extends ./base/layout.pug

block content
    section.container.cover-container
        // content-area
        .row.align-items-center
            .col.txt_center
                .title.mb-5.txt_upper
                    h1.cover-heading Cover your page.
                .paragraf.mb-5
                    p.lead
                        | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
                .acction
                    p.lead
                        a.btn.btn-lg.btn-secondary(href='#') Learn more

        // Content-area/