// buttons
.btn
    border: none
    box-shadow: none
    border-radius: inherit
    font-size: 1.6rem
    font-family: $primary-font
    padding: 0.8em 1.2em
    cursor: pointer
    text-transform: uppercase
    font-weight: 600
    -webkit-appearance: inherit
    transition: all 0.3s ease-in-out
    &_ghost
        +btnGhost
    &-box
        z-index: 12
        margin-top: 0px
        display: none
        width: 70%
        position: relative
        +MQ(L)
            display: inline-block
            width: auto
    &-full
        width: 100%
    &_site
        background-color: $red
        color: $white
        +press
            background-color: $fire
            color: $white
        span.icon
            &:after
                content: "+"
                margin-right: 12px
        &--gray
            background-color: silver
            color: $white
        &--green
            background-color: $green
            color: $white